html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.gradient {
    background: rgb(38, 42, 54);
    background: radial-gradient(
        circle,
        rgba(38, 42, 54, 1) 5%,
        rgba(32, 36, 46, 1) 100%
    );
}
